<!--Hero section begins-->
<section class="px-md-5">
    <div class="bgimage hero heroImage" style="
    background: url('{{ site.baseurl}}/assets/images/instruments/{{ page.images.header }}');    
    background-repeat: no-repeat;
	background-position: bottom;
	background-size:cover;
	background-attachment: fixed;">
        <div class="row mx-0 px-0">
            <div class="col-md-12 col-sm-12 col-xs-12 mt-25">
                <h1 class="display-2 text-white font-weight-light py-3 text-uppercase text-center text-shadow">{{page.name}}</h1>
                <h5 class="lead text-uppercase py-3 text-shadow text-center">{{page.category}}</h5>
                <h5 class="lead text-uppercase py-3 font-weight-light text-center text-shadow betweenHR">{{site.author.name}}</h5>
            </div>
        </div>
    </div>
</section>
<!--Hero section ends-->