<style>
    .thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
</style>


<div class="box thumbnail">
    <a href="{{ instrument.url }}">
      <img src="{{ site.baseurl}}/assets/images/instruments/{{ instrument.images.thumbnail }}"  class="img-gallery" />
     <div class="caption text-center">
        <h5 class="text-uppercase display-4">{{ instrument.name }}</h5>
        <p class="btn btn-outline-light"> Read more</p>
    </div>
</a>

</div>