<!--Navigation Begins-->
<nav class="site-header sticky-top py-1 bg-white2">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="#">
          <img width="24" height="24" src="{{site.baseurl}}/{{site.logo}}">
      </a>

      {% assign navigation_pages = site.html_pages %}
      {% for item in navigation_pages %}
            <a href="{{ item.url }}" class="py-2 d-none d-md-inline-block" {% if item.url == page.url %}class="active"{% endif %}>
              {{ item.title }}
            </a>
      {% endfor %}
    </div>
  </nav>
<!--Navigation Ends-->