---

---


/* 	
	FRONTMATTER
		Info:
			website:	http://mp-strumenti.it 
   			year:		2020
   			license: 	none (public domain)
   			author:		Marco Petolicchio
		Table of contents:
			* Import
			* Variables
			* Functions 
			* Typography
			* Grid
			* Components
			* Shame
*/


/* 	IMPORT 	*/

@import 'reset';



/*	VARIABLES */

	/* MEDIA */
		$media-l: 40em ;
        $media-xl: 64em ;
        

/*	FUNCTIONS */




/*	TYPOGRAPHY */




/*	GRID */




/*	COMPONENTS */




/*	SHAME */