
.heroImage{
    background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-attachment: fixed;
    filter: grayscale(50%) contrast(70%);
}

.bgimage, .card-img-top, .bgimage.hero {
	width:100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-attachment: fixed;
  }
  
  .bgimage.hero{
	  height:80vh;
  }
  
  .bgimage.bgimg{
	  height:300px
  }
  .bgimage h5 {
	color:white;
	text-shadow:2px 2px #333;
  }
  
  
  h1,h2,h3,h4,h5,h6, li, a  {
	  font-family: 'Source Sans Pro', sans-serif;
  }
  
  p, .display{
	  font-family:'Merriweather', serif;
  }

  .text-light{
	  font-weight: 300;
  }
  
  .card-img-top{
	  height:240px
  }
  
  .mt-25{
	  margin-top:25vh
  
  }
  
  .hero{
	  letter-spacing: 0.25em;
  }
  
  
  .betweenHR {
	overflow: hidden;
	text-align: center;
  }
  
  .betweenHR:before,
  .betweenHR:after {
	background-color: #fff;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
	max-width:240px
  }
  
  .betweenHR:before {
	right: 0.5em;
	margin-left: -50%;
  }
  
  .betweenHR:after {
	left: 0.5em;
	margin-right: -50%;
  }



.bg-white3{
	background-color:#dad8ce
}
.bg-white2{
	background-color: #fbf8f4
}


*{
	color:#2e3943
}

.text-muted{
	color: #433927
}

.text-accent--light{
	color:#908470
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}


   /*! div style */
   .image-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    justify-content: center;
    padding: 4px;
  }

  .box {
      flex-basis: 25%;
      width: 100%;
      padding: 10px;
      margin: 2px;
  }

  .img-gallery {
	width: 100%;
	object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }



  blockquote:before {
	content: '\201C';
	position: absolute;
	top: 0em;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 3rem;
	height: 2rem;
	font: 6em/1.08em;
	color: #708090;
	text-align: center;
  }



  nav a {
	  color: #708090 !important
  }

  nav a:hover{
	  color: #69a3dc
  }