<section class="px-md-5">


<section class="row">

    <section class="col-md-4">
        <h2 class="display">Specs</h2>

        <h4 class="">Neck</h4>
        <p>
            <span>{{ page.neck.material }}</span>
            <span class="text-muted">; width at nut:</span>
            <span>{{ page.neck.width }}</span>
            <span class="text-muted">; thickness:</span>
            <span>{{ page.neck.tickness }}</span>
        </p>
        <h4 class="">Body</h4>
        <h4 class="">Top</h4>
        <h4 class="">Electronics</h4>
        <h4 class="">Finish</h4>

    </section>


    <section class="col-md-8">

    </section>



</section>



</section>