<!doctype html>
<html>
{% include head.html %}
<body class="bg-white2">
{% include navigation.html %}
{% include hero.html %}


<section class="pt-5 container">
  <div class="row">
    <h2 class="display-2 py-5"><span class="text-muted">Instruments</span></h2>

  </div>

  {% for category in site.categories %}
  {% assign cat = category.title %}
  <section class="sec-category py-5">
  {% include category.html %}
  <div class="col-lg-10 offset-lg-1">
  <div class="card-deck">
    {% for instrument in site.instruments %}
      {% if instrument.category == cat %}
        {% include instrumentCard.html %}
      {% endif %}
    {% endfor %}
  </div>
  </div>
</section>
{% endfor %}

</section>
</body>
</html>