<!doctype html>
<html>
{% include head.html %}
<body class="bg-white">
{% include navigation.html %}
{% include detailHero.html %}

<section class="px-md-5 pt-5">


<section class="row">

    <section class="col-md-3 border-right">
        <h2 class="display">Specs</h2>

        <h4 class="mt-5">Neck</h4>
        <p>
            <span>{{ page.construction.neck.material }}</span>
            <span class="text-muted">; width at nut:</span>
            <span>{{ page.construction.neck.nutWidth }}</span>
            <span class="text-muted">; thickness:</span>
            <span>{{ page.construction.neck.thickness }}</span>
        </p>
        <p>{{page.construction.fretboard.thickness}} fretboard in {{page.construction.fretboard.material}} <span class="text-muted">with a </span>{{page.construction.fretboard.radius}} <span class="text-muted">radius</span>. <span class="text-muted">Frets:</span> {{page.construction.fretboard.frets}}</p>
        <h4 class="mt-5">Body</h4>
        <p>
            {{page.construction.body.thickness}} <span class="text-muted">body in </span> {{page.construction.body.material }}.
        </p>
        <h4 class="mt-5">Electronics</h4>
        <p>
            {{page.construction.electronics.wiring}}
        </p>
        <p>
            {{page.construction.electronics.pickups}}
        </p>
        
        <h4 class="mt-5">Finish</h4>
        <p class="">{{page.construction.finish}}</p>

        <h4 class="mt-5">Hardware</h4>
        <p class=""><span class="text-muted">Strap lock:</span>{{page.construction.hardware.locks}}</p>
        <p class=""><span class="text-muted">Bridge:</span>{{page.construction.hardware.bridge}}</p>

    </section>


    <section class="col-md-6 lead">
        <div class="p-5">
            {{ content }}
        </div>
    </section>

    <section class="col-md-3">
{% capture gallery_path %}assets/images/instrument{{ page.name }}{% endcapture %}
{% for image in site.static_files %}
    {% if image.path contains gallery_path %}
        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
    {% endif %}
{% endfor %}
</section>


</section>



</section>

</body>
</html>