\documentclass{report}

\usepackage[a5paper]{geometry}
\usepackage{tikz}

\usepackage{xcolor}
\usepackage{graphicx}
\usepackage{fontspec}
\setmainfont{Noto Sans}
\usepackage{lipsum}

\usepackage{multicol}
\usepackage{blindtext}


\definecolor{myBlack1}{RGB}{0, 16, 20}
\definecolor{mySand}{RGB}{255, 236, 153}

\setlength\parindent{0pt}











\begin{document}
\pagecolor{myBlack1}

\begin{center}
{.}\\
\vspace{36pt}
\begin{tikzpicture}
 
    \node[rectangle,draw={mySand},font=\fontsize{64}{144} \selectfont, text={mySand},inner sep=24pt] (r) at (0,0) {R I M A};
 \vspace{24pt}
\end{tikzpicture}\\
    \textcolor{mySand}{       
        \Large PRAGMA G6\\
        \footnotesize MP-STRUMENTI
    }
\vspace{64pt}
    \begin{figure}[h!]
  \includegraphics[width=\linewidth]{./images/herobg.jpg}
\end{figure}
\end{center}

\newpage
\pagecolor{white}

    \begin{figure}[h!]
  \includegraphics[width=\linewidth]{./images/herobg.jpg}
\end{figure}



\paragraph{Date}

{{page.construction.date.start}} --
{{page.construction.date.end}}

\paragraph{Neck}
            {{ page.construction.neck.material }}
            ; width at nut:
            {{ page.construction.neck.nutWidth }}
            ; thickness:
            {{ page.construction.neck.thickness }}
    


\newpage
\pagecolor{white}


  \begin{multicols}{2}[\textbf{Example for a three column text}]
    \footnotesize\blindtext
  \end{multicols}
\vfill

    \begin{figure}[h!]
  \includegraphics[width=\linewidth]{./images/herobg.jpg}
\end{figure}

\newpage
\pagecolor{white}


\vfill

\begin{center}
mp-strumenti
\end{center}


\newpage


\newpage


\end{document}